<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<!-- View options. -->
<section *ngIf="!isLoading" class="users-options">
  <mat-button-toggle-group value="grid">
    <mat-button-toggle value="grid" (click)="changeViewMode('grid')">
      <span class="material-icons">grid_view</span>
      {{'options.grid' | translate}}
    </mat-button-toggle>

    <mat-button-toggle value="list" (click)="changeViewMode('list')">
      <span class="material-icons">view_list</span>
      {{'options.list' | translate}}
    </mat-button-toggle>
  </mat-button-toggle-group>
</section>

<!-- Grid view. -->
<app-users-grid
  *ngIf="!isLoading && viewMode === 'grid'"
  [users]="users"
  (viewProfile)="viewUserProfile($event)"
></app-users-grid>

<!-- List view. -->
<app-users-list
  *ngIf="!isLoading && viewMode === 'list'"
  [users]="users"
  (viewProfile)="viewUserProfile($event)"
></app-users-list>