@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.icon-top {
  cursor: pointer;
  bottom: 10px;
  opacity: .6;
  position: fixed;
  right: 20px;
  z-index: 100;

  &:hover {
    opacity: 1;
  }
}