@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.login-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 500px;

  h1 {
    margin-bottom: 0;
  }

  p {
    font-size: small;
    margin-bottom: 20px;
    opacity: .6;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}