<section class="login-container">
  <mat-card>
    <h1>{{'auth.authentication' | translate}}</h1>

    <p class="tip">{{'auth.tip' | translate}}</p>

    <form [formGroup]="form" (ngSubmit)="doLogin()">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{'auth.email' | translate}}</mat-label>

        <input
          type="email"
          matInput
          [formControlName]="'email'"
          placeholder="user@email.com"
          autofocus
        >

        <mat-error *ngIf="f.email.hasError('email') && !f.email.hasError('required')">
          {{'auth.errors.email_invalid' | translate}}
        </mat-error>

        <mat-error *ngIf="f.email.hasError('required')">
          {{'auth.errors.email_required' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{'auth.password' | translate}}</mat-label>

        <input
          type="password"
          matInput
          [formControlName]="'password'"
          placeholder="*****"
        >

        <mat-error *ngIf="f.password.hasError('minlength') && !f.password.hasError('required')">
          {{'auth.errors.password_minlength' | translate}}
        </mat-error>

        <mat-error *ngIf="f.password.hasError('required')">
          {{'auth.errors.password_required' | translate}}
        </mat-error>
      </mat-form-field>

      <button
        mat-button
        type="submit"
        [disabled]="!form.valid || isWorking"
      >{{'auth.login' | translate}}
      </button>
    </form>
  </mat-card>
</section>