<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<section *ngIf="!isLoading && user" class="profile-container">
  <div>
    <app-profile-user-data [user]="user"></app-profile-user-data>
  </div>

  <div>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="{{user.public_repos || 0}}" matBadgeOverlap="false">
            {{'profile.repositories' | translate}}
          </span>          
        </ng-template>

        <div class="tab-content">
          <app-profile-user-repos [user]="user"></app-profile-user-repos>
        </div>
      </mat-tab>

      <mat-tab label="{{'profile.projects' | translate}}">
        <div class="tab-content">
          Projects... (to do)
        </div>
      </mat-tab>

      <mat-tab label="{{'profile.packages' | translate}}">
        <div class="tab-content">
          Packages... (to do)
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>

<app-profile-not-found *ngIf="!isLoading && !user"></app-profile-not-found>
